@media screen and (min-width: 480px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 22px;
  }
  .header__create-post-btn {
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 23px;
  }
  .header {
    height: 3.7rem;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    &__logo {
      order: 2;
      justify-self: center;
      margin-left: 0;
    }
    &__create-post-btn {
      order: 3;
      padding: 0.5rem 1.5rem;
    }
    &__search-icon {
      order: 4;
    }
    &__burger {
      order: 5;
    }
    &__list-of-categories {
      order: 1;
      grid-column: 1/2;
      border-top: none;
    }
  }
}